@using Samples.Account
@model ChangePasswordModel
@functions {
   
   bool ChangePassword() {

      if (Model.OldPassword == UserInfo.Password) {

         UserInfo.Password = Model.NewPassword;
         return true;
      }

      ModelState.AddModelError("OldPassword", "Current Password is incorrect.");
      return false;
   }
}
@{
   ViewBag.Title = "Change Password";
   
   if (!User.Identity.IsAuthenticated) {
      FormsAuthentication.RedirectToLoginPage();
      return;
   }

   if (IsPost
      && TryUpdateModel()
      && ChangePassword()) {
      
      Response.Redirect("ChangePasswordSuccess");
      return;
   }
   
   <h1>@ViewBag.Title</h1>
   <p>The current password is <strong>@UserInfo.Password</strong></p>
   
   @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
   
   using (Html.BeginForm()) {
      @Html.AntiForgeryToken()
      @Html.EditorForModel()
      <br />
      <button>Change Password</button>
   }
}
