@using Samples.Account
@model LoginModel
@{
   var service = new AccountService(ModelState);   
   
   if (IsPost) {

      AntiForgery.Validate();

      if (TryUpdateModel()
         && service.Login(Model)) {
         
         FormsAuthentication.RedirectFromLoginPage(Model.UserName, Model.RememberMe);
         return; 
      }
   }

   ViewBag.Title = "Log On";
   
   <h1>@ViewBag.Title</h1>
   <p>
       Please enter your user name and password. (use @AccountService.UserName/@AccountService.Password)
   </p>
   
   @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

   using (Html.BeginForm()) {
      @Html.AntiForgeryToken()
      @Html.EditorForModel()
      <br />
      <button>Log On</button>
   }
}
