@model ASP._Page_Contact_cshtml.ContactModel
@using System.Net.Mail
@functions {
   
   public class ContactModel {

      [Required]
      public string Name { get; set; }

      [Required]
      [RegularExpression(@"\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*")]
      [DataType(DataType.EmailAddress)]
      public string Email { get; set; }

      [Required]
      public string Subject { get; set; }

      [Required]
      [DataType(DataType.MultilineText)]
      public string Message { get; set; }
   }
   
   bool SendMail() {

      var message = new MailMessage {
         To = { "info@example.com" },
         Subject = Model.Subject,
         ReplyToList = { new MailAddress(Model.Email, Model.Name) },
         Body = Model.Message
      };

      try {

         new SmtpClient().Send(message);
         return true;

      } catch (SmtpException) {

         ModelState.AddModelError("", "An unexpected error occurred.");
         return false;
      }
   }
}
@{
   
   ViewBag.Title = "Contact";
   
   if (IsPost) {

      AntiForgery.Validate();

      if (TryUpdateModel()
         && SendMail()) {

         <h1>Thanks</h1>
         <p>
            <a href="@Request.Url.PathAndQuery">‹ Go back</a>
         </p>
         return;
      }
   }
   
   <h1>@ViewBag.Title</h1>
   <form method="post">
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(excludePropertyErrors: true)
      @Html.EditorForModel()
      <br />
      <button>Send</button>
   </form>
}